{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Gruv</h1>
        <p class="lead">Bienvenido a Gruv, sitio de administración.</p>
        <hr class="my-4">
        <p>Más información en https://gruvtravel.es/.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'admin:index' %}" role="button">Administracion</a>
        <a class="btn btn-primary btn-lg" href="{% url 'viaje_list' %}" role="button">Lista de Viajes</a>
        <a class="btn btn-primary btn-lg" href="{% url 'tablas-combinadas' %}" role="button">Tablas Combinadas</a>
        <a class="btn btn-primary btn-lg" href="{% url 'reporte-vendedores' %}" role="button">Reporte Vendedores</a>
    </div>
{% endblock %}
