{% extends 'base.html' %}

{% block content %}

<h1>Reporte de Vendedores</h1>
    <table id='reporVendedor' class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Puesto</th>
                <th>Vendedor</th>
                <th>Volumen de ventas</th>
                <th>Ganancia en USD</th>
            </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
                <tr>
                    <td>{{ vendedor.puesto }}</td>
                    <td>{{ vendedor.vendedor__nombre }}</td>
                    <td>{{ vendedor.volumen_ventas }}</td>
                    <td>{{ vendedor.ganancia_usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Pagos de Proveedores</h1>
    <table id="pagoProvee" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>País</th>
                <th>Saldo</th>
                <th>Pendiente</th>
                <th>Pago en Destino</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor_info in proveedores_info %}
            <tr>
                <td>{{ proveedor_info.proveedor__pais__nombre }}</td>
                <td>{{ proveedor_info.saldo|floatformat:2 }}</td>
                <td>{{ proveedor_info.pendiente|floatformat:2 }}</td>
                <td>{{ proveedor_info.pago_en_destino|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Balance</h1>
    <table id="balance" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Opción de Pago</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for opcion, entrada, salida, saldo in saldo_por_pago %}
            <tr>
                <td>{{ opcion }}</td>
                <td>{{ entrada|floatformat:2 }}</td>
                <td>{{ salida|floatformat:2 }}</td>
                <td>{{ saldo|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}